* {
  box-sizing: border-box;
}

header {
  text-align: center;
  text-decoration-color: #FFD033;

}

section {
  background-color: #33C6FF;
  border-style: double;
  text-size: 16;
  text-font: times new roman;
  width: 30%;
}

#chicken {
  float:left;
}

.chicken {

}

#beef {
float: right;
}

.beef {

}

#sushi {
position: absolute;
top: 12px;
left: 350px
}

.sushi {

}
